@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@mixin tablette {
    @media (min-width: 768px) and (max-width: 1080px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1080px) {
        @content;
    }
}

.flex {
    display: flex;
}
body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
.header {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    &__arrow {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }
}

.localisation {
    justify-content: center;
    background-color: #f3f3f3;
    padding: 1rem 0;
    &__logo {
        justify-content: center;
    }
    &__description {
        padding-left: 0.5rem;
        font-weight: 600;
    }
}

.reservation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #fafafa;
    padding: 1rem 2rem 3rem 2rem;
    h1 {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 1rem 0 .25rem 0
    }
    h2 {
        font-size: 1.1rem;
        font-weight: 300;
    }
}

.button {
    border: none;
    cursor: pointer;
    margin-top: 1em;
    font-weight: 500;
    padding: 0 1.5rem;
    font-size: 1rem;
    border-radius: 100px;
    color: #fff;
    background: linear-gradient(-15deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    &__size {
        height: 3.5rem;
        width: 12rem;
        margin-top: 2rem;
        margin-bottom: -3rem;
    }
}

.tuto {
    padding: 1rem;
    &__title {
        font-size: x-large;
        @include tablette {
            text-align: center;
        }
    }
    &__list {
        list-style: none;
        counter-reset: count_list;
        padding-left: 1rem;
        @include desktop {
            display: flex;
        }
        @include tablette {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__description{
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
        border-radius: 1.25rem;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
        font-weight: 600;
        @include desktop {
            flex-grow: 1;
            margin-right: 1rem;
        }
        @include tablette {
            width: 25rem;
            justify-content: center;
        }
        &:hover {
            background-color: lighten($color: #9356dc, $amount: 35%);
            i {
                color: #9356dc;
            }
        }
        &::before {
            counter-increment: count_list 1;
            content: counter(count_list) "";
            background: #9356dc;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            left: -0.75rem;
            bottom: 22px;
            font-weight: normal;
            font-size: 0.8rem;
        }
    }
    &__logo {
        margin-right: 1rem;
        color: rgba(124, 124, 124, 0.822);
        font-weight: 900;
    }
}

.restaurant {
    padding: 1rem;
    background-color: #f6f6f6;
    flex-direction: column;
    padding-bottom: 4rem;
    &__cards {
        flex-direction: column;
        @include tablette {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 2rem;
            row-gap: 2rem;
        }
        @include desktop {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 2rem;
        }
    }
}

.card {
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 250px;
    background-color: #fff;
    margin: 0.5rem 0;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    &__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #99E2D0;
        color: darken($color: #99E2D0, $amount: 40%);
        font-size: small;
        padding: 0.4rem 0.6rem;
        border-radius: 0.1rem;
        font-weight: 500;
    }
    &__img {
        object-fit: cover;
        height: 70%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
    }
    &__bottom {
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    &__description {
        flex-direction: column;
        h3 {
            margin: 0
        }
        p {
            margin: 5px 0;
        }
    }
    &__logo {
        font-size: 1.75rem;
        font-weight: 100;
        position: relative;
    }
}

.footer {
    background-color: #2b2a2a;
    flex-direction: column;
    color: white;
    padding: 1.5rem 1rem;
    &__img {
        font-family: Shrikhand, sans-serif;
        font-weight: 300;
    }
    &__link {
        padding: .5rem .75rem;
        font-size: 1.2rem;
    }
    &__logo {
        margin-right: 1rem;
        width: 1.1rem;
    }
}

.background-image {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
}

.main {
    background-color: #f3f3f3;
}
.menu {
    flex-direction: column;
    background-color: #f3f3f3;
    position: relative;
    top: -5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem;
    &__title {
        justify-content: space-between;
        align-items: center;
        padding-left: .5rem;
        i {
            font-size: 2rem;
            margin-right: 2rem;
            padding-left: 1rem;
        }
        h2 {
            font-family: Shrikhand, sans-serif;
            font-size: 1.75rem;
            font-weight: 500;
        }
    }
    &__heart {
        &:hover {
                background-image: linear-gradient(-15deg, #9356dc, #ff79da);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-color: #fafafa;
                font-weight: bold;
                transition: color 3s ease-in-out -2s;
                cursor: pointer;
        }
    }
}

@keyframes text-appear {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.part {
    flex-direction: column;
    overflow: hidden;
    @include desktop {
        flex-grow: 1;
    }
    &__title {
        font-weight: 400;
        margin-bottom: 5px;
        margin-left: .8rem;
        &--underline {
            height: 3px;
            width: 45px;
            background-color: #99e2d0;
            margin-bottom: 15px;
            margin-left: .8rem;
        }
    }
    &__items {
        @include desktop {
            display: flex;
        }
    }
    &__list {
        flex-direction: column;
    }
    &__card {
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
        padding-left: 0.75rem;
        margin: 0 0.7rem 1rem 0.7rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        animation: text-appear 0.7s ease-out forwards;
        transform: scale(0);
        cursor: pointer;
        &:hover {
             .part__card__check{
                transform: translateX(0px);
                flex: 30%;
            }
            i {
                transform: rotate(360deg);
            }
        }
        &__price {
            margin-bottom: 0;
            line-height: 0;
            transition: all 700ms;
            font-weight: 700;
            margin: 2rem 1rem 0rem 1rem;
            flex: 10%;
        }
        &__check {
            flex: 0%;
            background-color: #99E2D0;
            border-radius: 0 1rem 1rem 0;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
            overflow: hidden;
            transition: all 700ms;
            height: 5rem;
            line-height: 5rem;
            text-align: center;
            i {
                font-size: 1.5rem;
                color: white;
                transition: transform 700ms;
            }

        }
        &__description {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 1rem;
            flex: 90%;
            p {
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                transform-origin: left 50%;
                transition-duration: 0.5s;
            }
            h3{
                margin: 0 0 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.btn {
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 12 {
    .delay#{$i} {
        animation-delay: #{$i * 0.2}s;
    }
}

.spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loader 0.01s;
    animation-delay: 4s;
    animation-fill-mode: both;
    &__container {
        display: flex;
        width: 8rem;
        height: 2rem;
        justify-content: space-between;
    }
    &__item {
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
        &--1{
            background-color: #9356dc;
            animation: fade .75s ease-in-out 5 both;
        }
        &--2{
            background-color: #ff79da;
            animation: fade .75s ease-in-out 0.25s 5 both;
        }
        &--3{
            background-color: #99E2D0;
            animation: fade .75s ease-in-out .5s 5 both;
        }
    }
}
@keyframes fade {
    0% {
      opacity: 0.35;
      transform: scale(0.85);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
      opacity: 0.35;
      transform: scale(0.85);
    }
}

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }